# VS Code Workplace
.vscode/

# Eclipse Workplace
.metadata/

# Object
bin/
build/
ComputeOBJ/

# STM32 DSP libs
DSP/

# ESP-IDF sdkconfigs
sdkconfig
sdkconfig.old

# PCB layout
*.PcbDoc
*.PcbLib
*.PrjPcb
